@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    padding: 0 !important;
    max-width: 100% !important;
}

#main {
    max-width: 1440px !important;
}



.greyText {
    color: #D9D9D9;
}
